*{
    margin: 0;
    padding: 0;
    
}
body{
    height: 400vh;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color:#141618;
    height: 15vh;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    color: rgb(255, 250, 250);
    
}
.logo a{
    font-weight: 600vh;
}
nav{
    width: 70%;  
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fa-solid{
    color: antiquewhite;
    display: flex;  
}
.fond{
    background: url(img/img.jpg);
    width: 100%;
    height: 512PX;
    background-position: 0%;
}
.titre{
    text-align: center;
    font-size: 35px;
    margin: 50px;
}
.date{
    font-size: 12px;
    margin-left: 470px;
    margin-top: -30px;
    color: rgb(223, 160, 78);
    font-style: italic;
    
}
.ita{
    font-size: 15px;
    margin-left: 470px;
    margin-top: 17px;
    
}
.p1{
    font-size: 15px;
    margin-left: 470px;
    margin-top: 17px;
    margin-right: 320px;
    font-family: "roboto";
}
.p2{
    margin-left: 470px;
    margin-right: 320px;
    margin-top: 15px;
    font-size: 15px;
    font-family: "roboto";
}



